[Unit]
Description=A secure server providing multi-client access to task data
Documentation=man:taskd(1)
After=network.target

[Service]
ExecStart=/usr/bin/taskd --data $TASKDDATA
EnvironmentFile=/etc/conf.d/taskd
User=taskd
Group=taskd

[Install]
WantedBy=multi-user.target
